region="us-ord"
label="win11"
#Select type: standard, dedicated, premium, gpu, vpu
linode_type="dedicated"
#Add minimum memory spec in GB
memory=16
#Enter your stackscript ID
StackScriptID=""
#Select network type: vpc, public, vlan
network="vpc"
#Add string label of your new or existing vpc or vlan
network_id="Workspot-Site-1"
#Add CIDR of your VPC subnet or VLAN subnet
subnet_CIDR="192.168.1.0/24"
#Add the name of the bucket your image file is in
bucket_name="your-bucketname"
#Add the full path to your image file in the bucket (image can be raw/img, qcow, qcow2, vdi, vhd, vhdx, vmdk)
image_name="Path/to-your-image.qcow2"
#What region is your bucket?
bucket_region="bucket-region"
#Add read only keys for your bucket, if you don't have them yet, the script will attempt to make them
bucket_key=""
bucket_secret=""
#Minimum number of vcpu for your instances
cpu=2
#minimum disk required to support your image in GB
virtual_disk=5
