region="co-bog-1"
label="Bogota-Test-GW"
tag="Workspot-Edge-1"
quantity=1
root_pass="s3E8=speFr5c"
#Select type: standard, dedicated, premium, gpu, vpu
linode_type="dedicated"
#Add minimum memory spec in GB
memory=8
#StackScript Deprecated
#Enter your stackscript ID
#StackScriptID="2012797"
#Select network type: vpc, public, vlan or dual (public + vlan for NATGW applications)
network="vpc"
#Add string label of your new or existing vpc or vlan
network_id="Workspot-Bogota"
#Add CIDR of your VPC subnet or VLAN subnet
subnet_CIDR="172.16.254.240/28"
#Add the name of the bucket your image file is in
bucket_name="chicago-isos"
#Add the full path to your image file in the bucket
image_name="Workspot/win25-compressed.qcow2"
#What region is your bucket?
bucket_region="us-ord"
#Add read only keys for your bucket, if you don't have them yet, the script will attempt to make them
bucket_key="TMBAA3N29V8SUFIZX0AF"
bucket_secret="WFOVy27dSdS8TeKGDCZ1a0rgrClzPRtZ8Dcxmn4H"
#Minimum number of vcpu for your instances
cpu=4
#minimum disk required to support your image in GB
virtual_disk=65
