region="us-lax"
#label prefix for instances
label="label"
#Tage to apply to instances
tag="tag1"
#Number of instances
quantity=1
#Root pass to apply to the deployment partition - must adhere to Linode password policies
root_pass="my$super$secureR00t"
#Select type: standard, dedicated, premium, gpu, vpu
linode_type="dedicated"
#Add minimum memory spec in GB
memory=16
#Select network type: vpc, public, vlan or dual (public + vlan for NATGW applications)
network="vpc"
#Add string label of your new or existing vpc or vlan
network_id="my-vpc-LAX"
#Add CIDR of your VPC subnet or VLAN subnet
subnet_CIDR="192.168.1.0/24"
#Add the name of the bucket your image file is in
bucket_name="my-iso-bucket"
#Add the full path to your image file in the bucket
image_name="Folder/image.qcow2"
#What region is your bucket?
bucket_region="us-ord"
#Add read only keys for your bucket, if you don't have them yet, leave this blank and the script will attempt to make them
bucket_key=""
bucket_secret=""
#Minimum number of vcpu for your instances
cpu=4
#minimum disk required to support your image in GB
virtual_disk=65
