region="us-lax"
label="opnsense-lax"
tag="Demo"
#Root Pass is only applicable to your imaging partition and not the OPNSense appliances
#RootPass MUST follow Linode policies or the instances will fail to create
#The root pass for OPNSense is L1n0d3 - Change this immediately!
root_pass="Y0ur$superSecureR00t"

# Select type: standard, dedicated, premium, gpu, vpu
linode_type="dedicated"

# Add minimum memory spec in GB
memory=8

# Minimum number of vcpu for your instances
cpu=2

# Virtual disk size in GB (script will add 520MB for Alpine)
virtual_disk=10

# VLAN Configuration
# Add string label of your end user vlan (will be eth1)
network_id="Demo-lax"

# Add CIDR of your VLAN subnet in notation n.n.n.n/n
subnet_CIDR="172.16.100.0/25"

# Management VLAN will be created automatically as "mgmt" (eth2)

# Object Storage Configuration
# Add the name of the bucket your image files are in
bucket_name="your-bucket"

# Active and Standby Image Files
# Full path to your active instance image file in the bucket
active="Workspot/active-112025-rev1.qcow2"

# Full path to your standby instance image file in the bucket
standby="Workspot/standby-112025-rev1.qcow2"

# What region is your bucket?
bucket_region="us-ord"

# Bucket access credentials
# Add read only keys for your bucket, if you don't have them yet, the script will attempt to make them
bucket_key="yourbucketkey"
bucket_secret="yourbucketsecret"
