region="us-lax"
label="opnsense"
tag="opnsense-HA"
root_pass="CrazyL0ngPa55word"

# Select type: standard, dedicated, premium, gpu, vpu
linode_type="premium"

# Add minimum memory spec in GB
memory=16

# Minimum number of vcpu for your instances
cpu=2

# Virtual disk size in GB (script will add 520MB for Alpine)
virtual_disk=10

# Enter your stackscript ID
StackScriptID="1111111"

# VLAN Configuration
# Add string label of your end user vlan (will be eth1)
network_id="My-Site-5"

# Add CIDR of your VLAN subnet in notation n.n.n.n/n
subnet_CIDR="10.10.10.0/23"

# Management VLAN will be created automatically as "mgmt" (eth2)

# Object Storage Configuration
# Add the name of the bucket your image files are in
bucket_name="my-linode-obj-bucket"

# Active and Standby Image Files
# Full path to your active instance image file in the bucket
active="active-111825.qcow2"

# Full path to your standby instance image file in the bucket
standby="standby-111825.qcow2"

# What region is your bucket?
bucket_region="us-ord"

# Bucket access credentials
# Add read only keys for your bucket, if you don't have them yet, the script will attempt to make them
bucket_key=""
bucket_secret=""
