region="us-lax"
label="opnsense"
tag="opnsense-HA"
#Root pass is mainly meaningless. This is not the root user for OPNSense - that is root, with password or L1n0d3
root_pass="myr00tPA55"

# Select type: standard, dedicated, premium, gpu, vpu
linode_type="premium"

# Add minimum memory spec in GB
memory=16

# Minimum number of vcpu for your instances
cpu=2

# Virtual disk size in GB (script will add 520MB for Alpine)
virtual_disk=10

# Enter your stackscript ID - This is mine, it is not public, so it will not work for you.
StackScriptID="1936372"

# VLAN Configuration
# Add string label of your end user vlan (will be eth1)
network_id="LAX-VLAN"

# Add CIDR of your VLAN subnet in notation n.n.n.n/n - This will determine your DHCP scope, your active and standby router IPs (LAN side) and the Shared IP for the LAN Default GW
subnet_CIDR="172.16.100.0/23"

# Management VLAN will be created automatically as "mgmt" (eth2)

# Object Storage Configuration
# Add the name of the Linode bucket your image files are in
bucket_name="you obj bucket"

# Active and Standby Image Files
# Full path to your active instance image file in the bucket
active="active-112025-rev1.qcow2"

# Full path to your standby instance image file in the bucket
standby="standby-112025-rev1.qcow2"

# What Linode region is your bucket?
bucket_region="us-ord"

# Bucket access credentials
# Add read only keys for your bucket, if you don't have them yet, the script will attempt to make them
bucket_key=""
bucket_secret=""
